* {
    font-family: 'Satoshi', sans-serif;
    box-sizing: border-box;
    margin: 0;
    font-size: 1.2rem;
}

.main-header {
    border-bottom: 1px solid #FFFFFF;
    opacity: 0.1;
}

.main-gold {
    color: #DEB980;
}

.main-black {
    color: #2E2E2E;
}