.main-header {
  border-bottom: var(--transparent-border);
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

.navbar-menu {
  color: var(--white-main);
  height: 100%;
  border-left: var(--transparent-border);
}
