.main-header {
  border-bottom: var(--transparent-border);
  display: flex;
  justify-content: space-between;
}

.logo-container {
  padding: 2rem 20rem 2rem 2rem;
}

.navbar-menu {
  color: var(--white-main);
  border-left: var(--transparent-border);
  padding: 2rem;
}

.icon-navbar {
  font-size: 2em;
  font-weight: 400;
}
