:root {
  --gold-main : #DEB980;
  --black-main: #2E2E2E;
  --white-main: #FFFFFF;
  --transparent-border: 1px solid rgba(255, 255, 255, 0.1);
}

body {
  font-family: 'Satoshi', sans-serif;
  box-sizing: border-box;
  margin: 0;
  font-size: 1.2rem;
  background-color: var(--black-main);
}